html {
	text-align: center;
	font-family: "Arial";
}

h1 {
	font-size:50px;
	color: red;
}

h3 {
	text-decoration: underline;
}

h4 {
	font-style: italic;
}

img {
	width:300px;
	height:300px;
	border-style: double;
}

a {
   background-color:red;
    display:inline-block;
    color: white;
    font-size:11px;
    font-weight:bold;
    line-height:30px;
    padding:0 3px;
}

.resumeSection {
	border-style: solid;
	border-width: 2px;
}

